a{
    color: #000000;
    text-decoration: none;
}

a[class="browser"], a[id=download]{
    text-decoration: underline;
}

.option > a{
    color: white;
    text-decoration: none;
}

caption{
    font-size: 20px;
}

table, th, td{
    border: 3px solid #000000;
    border-collapse: collapse;
    width: 30%;
    margin: 0px auto;
    font-size: 20px;
    padding: 5px;
}

table{
    margin-bottom: 50px;
}

td{
    padding-left: 10px;
}

.board{
    width: 30%;
    margin: 0px auto;
    padding: 5px;
    background-color: rgb(226, 183, 72);
    border: 2px solid rgb(154, 144, 0);
    font-size: 20px;
    text-align: center;
}

p[class="esempio"]{
    font-size: 20px;
    width: 30%;
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 10px;
}

#image-container{
    margin: 0px auto;
    width: 30%;
}

/*bottoni di avanzamento*/
#nav-buttons{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0px auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

.nav-button{
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: rgb(40, 46, 130);
    font-size: 25px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -Webkit-border-radius: 15px;
}

.nav-button > a{
    color: #FFFFFF;
    text-decoration: none;
}

progress{
    width: 70%;
    margin: 0px auto;
}

hr{
    color: #000000;
    background-color: #000000;
    height: 5px;
}

button[type="submit"]{
    width: 30%;
    height: 60%;
}

form{
    margin: 10px auto;
    width: 30%;
}

/*definizione span*/
span{
    margin: 10px;
    border: 0px;
    padding: 0px;
    color: blue;
}

span[class="open-tag"]{
    margin-right: 5px;
}

span[class="close-tag"]{
    margin-left: 5px;
}